.like_area {
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-size: 10px;
}

.blue {
    color: #7843E6;
    background: rgb(255, 255, 255);
}