.register-area {
    max-width: 100%;
    height: 100%;


    .box-register {
        margin-top: 20px;
        min-height: 300px;
        padding: 20px;
        background: white;
        border-radius: 10px;
        border: 2px solid #ffffff;

        .btn-register {
            padding: 10px 15px;
            background: #7843E6;
            color: aliceblue;
            border-radius: 5px;
        }

        label {
            margin-top: 20px;
        }
    }
}