.ant-breadcrumb ol li {
    display: flex;
    align-items: center !important;
    font-size: 14px;
    font-weight: 500;
}

.breadcrumb-area {

    margin: 20px auto;
    padding: 10px 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}