@mixin chung {
    font-weight: 600;
    column-gap: 20px;
    padding: 20px;

    img {
        border-radius: 50%;
        width: 40px;
    }
}

// .box-thumbnail {
//     .left-slide-lightbox {
//         width: 70px;
//         height: 70px;
//         border-radius: 10px;
//         margin: 0 auto;
//     }
// }

.product-essential {
    .layout-detail {
        justify-content: center;
        background: #ffffff;

        .box-img_row {
            width: 100%;
            background: white;



        }

        .box-mota {
            width: 90%;
            margin: 0 auto;
            background: white;

            h1 {
                margin: 20px 0px;
                font-size: 20px;
                font-weight: 600;
            }

            .des-author {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 20px;

                &>div {
                    font-size: 13px;
                    font-weight: 500;
                    color: grey;

                    span {
                        color: black;
                    }
                }


            }

            &__rate {
                margin: 20px 0px;
                font-size: 13px;
                font-weight: 500;
            }

            &__price {
                display: flex;
                align-items: center;
                column-gap: 20px;

                .current_price {
                    font-size: 30px;
                    font-weight: 700;
                    color: #C92127;
                }

                .price-percent {
                    background: #C92127;
                    color: #ffffff;
                    padding: 7px 10px;
                    border-radius: 5px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            .box-mota_qty {
                margin: 20px 0px;
                display: flex;
                align-items: center;
                font-size: 16px;
                //qty
            }

            .add-to-cart {
                padding: 10px 15px;
                background: #ffffff;
                color: #C92127;
                border: 1px solid #C92127;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }

            .shop-now {
                margin-left: 20px;
                padding: 10px 15px;
                color: #ffffff;
                background: #C92127;
                border: 1px solid #C92127;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                cursor: pointer;
            }

            .add-wishlist {
                cursor: pointer;
                margin-top: 10px;
                width: 200px;
                height: 40px;
                border: 1px solid #e8e8e8;
                border-radius: 5px;
                display: flex;
                justify-content: start;
                align-items: center;
                column-gap: 10px;
                padding-left: 10px;
                font-size: 14px;
                color: #000000;
                font-weight: 500;
            }
        }





    }
}

.product-topview {

    margin: 10px 0;

    .title-view {
        @include chung;
        background: #fce9df;
    }

}

.product-info {
    background: #ffffff;
    padding: 20px;
    height: auto;
    margin: 20px 0;

    .text {
        margin-top: 10px;
        color: grey;
        line-height: 30px;
    }

    .see-view {
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        color: #C92127;
        border: 2px solid #C92127;
        border-radius: 3px;
        margin: 20px auto;
        cursor: pointer;
    }
}

.img-over {
    width: 20px;
    height: 20px;
}

.product__review {
    background: #ffffff;

    &__box {
        padding: 20px;
        height: auto;
        margin: 20px 0;

        .box-review {
            margin-top: 20px;

            .box-review__detail {
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 20px;
                    font-weight: 500;

                    b {
                        font-size: 35px;
                        color: black;
                        font-weight: 700;
                    }
                }

            }

            .btn-review {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                div {
                    border: 2px solid #C92127;
                    color: #C92127;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 0.8rem 2rem;
                    border-radius: 3px;
                }
            }


        }
    }

    &__list {
        overflow: hidden;

        &__row {
            min-height: 50px;
            display: flex;
            justify-content: space-around;
            padding: 10px;
            width: 100%;
            border-bottom: 2px solid rgb(241, 236, 236);
            background: #ffffff;


            &__left {
                padding: 10px;
                width: 20%;

                .name {
                    text-transform: capitalize;
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 10px 0px;
                }

                .date {
                    color: grey;
                    font-size: 12px;
                    padding: 10px 0px;
                }
            }

            &__right {
                width: 75%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                .content {
                    font-size: 0.8rem;
                    min-height: 30px;
                    line-height: 20px;
                    color: rgb(16, 15, 15);
                    font-weight: 520;
                }

                .box__feed {
                    display: flex;
                    column-gap: 40px;

                    &__rep {
                        font-size: 12px;
                        cursor: pointer;
                    }
                }
            }
        }

        .box-pagination {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 50px;
            padding-right: 1em;
        }

    }
}

.btn-comment {
    background: #C92127;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    float: right;
}

@media screen and (max-width: 668px) {
    .box-img_row {
        justify-content: center;
    }

    .product__review__list__row {
        display: flex;
        flex-wrap: wrap;

        &__left {
            width: 100%;
            display: flex;

            .name {
                width: 50%;
                font-weight: 550;
            }

            .date {
                width: 50%;
                text-align: end;
            }
        }

        &__right {
            width: 100%;
        }
    }


}

// .thumbnail1 {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     row-gap: 15px;

//     img {
//         width: 70px;
//         border-radius: 10px;
//         margin: 0 auto;
//     }
// }

// .thumbnail2 {

//     img {
//         max-width: 100%;
//         max-height: 350px;
//         object-fit: cover;
//     }
// }