@mixin fl {
    display: flex;
    align-items: center;
}

@mixin con {
    width: 90%;
    margin: 10px auto;
}

.shop-area {

    .box-shop {
        border-radius: 10px;
        overflow: hidden;

        .left-box-shop {

            overflow: hidden;

            .box-container {
                width: 95%;
                height: 100%;
                background: #ffffff;
            }

            .title-filter {
                font-size: 18px;
                padding: 10px 10px 10px 35px;
                font-weight: 700;
                color: rgb(63, 63, 63);
            }

            .box-filter {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;

                .item-category {
                    padding: 10px;
                    font-size: 16px;
                    font-weight: 500;

                    a {
                        color: grey;
                        transition: 0.5s;

                        &:hover {
                            padding-left: 10px;
                            color: #C92127;
                        }
                    }
                }
            }

            .filter-price {

                .ant-slider .ant-slider-track,
                .ant-slider-track-1 {
                    background-color: #5c21c9 !important;
                }

                .btn-apply {
                    background: #5c21c9;
                    color: #fff;
                    width: 100%;
                    text-align: center;
                    padding: 12px 0px;
                    margin-top: 30px;
                    font-size: 15px;
                    font-weight: 600;
                }
            }

            .rate-area {
                width: 80%;
            }

            .refresh {
                margin: 20px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #C92127;
                padding: 15px;
                font-size: 16px;
                color: #fff;
            }
        }

        .right-box-shop {
            overflow: hidden;
            background: #fff;

            .box-area-sort {
                align-items: center;

                padding: 10px;
                margin-bottom: 6px;

                .box-total>div {
                    padding-left: 10px;
                }

                .box-sort {
                    display: flex;
                    align-items: center;
                    justify-content: end;

                }

            }



        }
    }
}

@media only screen and (max-width: 1024px) {
    .shop-area {
        .text-cart {
            display: none;
        }


        .product {
            padding-bottom: 0px;
        }
    }
}

@media screen and (max-width: 667px) {


    .right-box-shop {
        .box-area-sort {
            justify-content: space-between !important;
        }
    }

    .text-des {
        display: none;
    }

}