.product_admin_area {
    background: white;
    padding: 10px;

    .btn_add-product {
        background: seagreen;
        color: aliceblue;
        padding: 10px 15px;
        border-radius: 5px;
    }

}

.form-area-product {
    background-color: white;
    padding: 10px;

    .btn-save {
        background-color: rgb(0, 0, 0);
        padding: 10px 20px;
        color: aliceblue;
    }

}

.btn_table {
    display: flex;
    column-gap: 20px;
    align-items: center;

    .icon-edit {
        color: rgb(80, 7, 7);
        font-size: 15px;
    }

    .icon-delete {
        color: rgb(59, 59, 255);
        font-size: 15px;
    }
}

.cap-form {
    margin: 20px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}