.product_admin_area {
    background: white;
    padding: 10px;

    .btn_add-product {
        background: seagreen;
        color: aliceblue;
        padding: 10px 15px;
        border-radius: 5px;
    }

}

.form-area-product {
    background-color: white;
    padding: 10px;

    .btn-save {
        background-color: rgb(0, 0, 0);
        padding: 10px 20px;
        color: aliceblue;
    }

}