@mixin fl {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background: white;
    color: grey;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
}

.banner-area {
    margin: 0 auto;
    display: flex;
    column-gap: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.banner-area_slide {
    width: 70%;
    border-radius: 10px;
    position: relative;
}




.mySwiper {
    img {
        width: 100%;
        height: 320px;
        border-radius: 10px;
    }
}

.banner-area_qc {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &>div {
        height: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 10px;
        }
    }
}

.banner-bottom {
    background: white;
    border-radius: 10px;
    display: flex;
    margin: 10px 0px;
    column-gap: 15px;
}

.cms-area {
    margin: 10px 0;
    background: white;
    border-radius: 10px;
    padding: 15px;

    &>div>div {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            padding-top: 5px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .banner-area_slide {
        width: 100% !important;
    }

    .banner-bottom {
        padding: 0px 15px;
    }

    .banner-area_qc {
        display: none !important
    }

    .mySwiper {
        img {
            width: auto;
            height: auto;
            margin: auto;
        }
    }


}

@media only screen and (max-width: 767px) {



    .banner-bottom {
        display: none;
    }
}